.login-form {
    height: 100vh;
}

.login-card {

    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-style {
    width: 350px;
    margin: 0 auto;
}

.text-left {
    text-align: left;
}

.register-now {
    padding-top: 4px;
    text-align: left;
}