.header-area {
    display: flex;
    align-items: center;

}

.search-bar {
    margin-left: 100px;
}

.header-right {
    margin-left: auto;
    margin-right: 50px;
}

.logo {
    width: 300px;
    margin-left: -20px;
}

.logo img {
    width: 100px;
}

.display-user {
    margin-left: 10px;
}